<section class="presentacion">
  <p class="bienvenida">Bienvenido</p>
  <h2>Soy <span>Nicolás Fernández</span>, este es mi portafolio</h2>
  <p class="descripcion">Desarrollador backend en Java y Spring Boot.</p>
  <p class="descripcion"> Con estas tecnologías he trabajado en proyectos de APIs REST, microservicios y aplicaciones fullstack:</p>

  <div class="skills">
    <!-- Lenguajes y frameworks -->
    <i class="devicon-java-plain colored" title="Java"></i>
    <i class="devicon-spring-plain colored" title="Spring Boot"></i>
    <i class="devicon-mysql-plain colored" title="MySQL"></i>
    <img src="https://cdn.simpleicons.org/postman/FF6C37" alt="Postman" title="Postman">
    <i class="devicon-docker-plain colored" title="Docker"></i>
     <img src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/sonarqube.svg" alt="SonarQube" title="SonarQube">
    <i class="devicon-git-plain colored" title="Git"></i>
    <img src="https://cdn.simpleicons.org/apachemaven/C71A36" alt="Maven" title="Maven">
    

    <!-- IDEs -->
    <img src="https://cdn.simpleicons.org/intellijidea/FD4A7D" alt="IntelliJ IDEA" title="IntelliJ IDEA">
    <img src="https://cdn.simpleicons.org/apache/netbeans" alt="NetBeans" title="NetBeans">
    <img src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/visualstudiocode.svg" alt="VS Code" title="VS Code">

    <!-- Frontend -->
    <i class="devicon-angularjs-plain colored" title="Angular"></i>
    <i class="devicon-html5-plain colored" title="HTML5"></i>
    <i class="devicon-css3-plain colored" title="CSS3"></i>
    <i class="devicon-javascript-plain colored" title="JavaScript"></i>
  </div>
   <p class="descripcion exploracion">
    💡 Explora mis proyectos para ver estas tecnologías en acción.
  </p>
</section>

