<section id="sobreMi">
        <div class="contenedor-foto">
            <img src="/img/cv.png" alt="Nicolás Fernández">
        </div>
        <div class="sobreMi">
            <h3 class="titulo-seccion">Sobre mi</h3>
            <h2>Hola, soy <span>Nicolás Fernández</span></h2>
            <p>Desarrollador backend en Java y Spring Boot, con formación en el desarrollo de aplicaciones web seguras, robustas y escalables. Competente en arquitecturas multicapa y micro servicios, APIs REST y bases de datos relacionales. </p>
            <p>Experiencia en la aplicación de principios SOLID y Clean Code. Conocimientos en seguridad con JWT y OAuth2, testing con JUnit y Mockito, y control de calidad con SonarQube. </p>
            <p>Apasionado por la optimización del código, la mejora del rendimiento y el aprendizaje continuo de nuevas tecnologías. Capaz de trabajar en equipo, afrontar retos y aportar soluciones eficientes.</p>
            <p>Busco oportunidades para crecer profesionalmente y contribuir al éxito de proyectos innovadores en el ámbito del desarrollo backend.</p>
            <p>Me considero una persona proactiva, responsable y con habilidades para el trabajo en equipo. Me adapto fácilmente a nuevos entornos y tecnologías, y siempre estoy dispuesto a aprender y mejorar mis conocimientos.</p>
            <p></p>
            <p class="titulo-seccion">Idiomas:</p>
            <ul class="sobreMi">
                <li>Español: Nativo</li>
                <li>Gallego: Nativo</li>
                 <li>Inglés: Básico</li>
            </ul>
        </div>
    </section>
