 <footer>
        <p> <a href="index.html">-- MI PORTAFOLIO 2025 --</a>
        </p>
        <div class="redes">
            <a href="https://github.com/noarphelp" target="_blank"><i
                    class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/nicolas-fernandez-2a4b18245/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/nicordes/" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
