   <section id="formacion">
        <h3 class="titulo-seccion">Mi formación</h3>
        <div class="fila">
            <div class="formacion">
                <span class="icono"><i class="fa-brands fa-java"></i></span>
                <h4> Java , Java Avanzado y SpringBoot - Hack A Boos</h4>
                <hr>
                <ul class="formacion">
                    <li>JAVA</li>
                    <li>SPRINGBOOT</li>
                    <li>JSP Y SERVLET</li>
                    
                </ul>
                <p> Fundamentos y técnicas avanzadas de Java hasta el desarrollo de aplicaciones con Spring Boot,
                     abarcando APIs REST, manejo de bases de datos y buenas prácticas para crear sistemas seguros y escalables</p>
            </div>
            <div class="formacion">
                <span class="icono"><i class="devicon-spring-plain"></i></span>
                <h4>Arquitectura de Micro servicios en la Nube - Training IT</h4>
                <hr>
                <ul class="formacion">
                    <li>SPRING CLOUD</li>
                    <li>DOCKER</li>
                    <li>APIs REST</li>
                </ul>
                <p>Fundamentos de la arquitectura de microservicios en la nube, incluyendo el diseño y despliegue de servicios independientes, el uso de contenedores y orquestadores,
                     así como estrategias de integración, escalabilidad y seguridad para aplicaciones distribuidas.</p>
            </div>
            <div class="formacion">
                <span class="icono"><i class="fa-brands fa-aws"></i></span>
                <h4>AWS - Xunta de Galicia</h4>
                <hr>
                <ul class="formacion">
                    <li>EC2 y S3</li>
                    <li>IAM</li>
                    <li>RDS/DynamoDB</li>
                </ul>
                <p>Conocimientos fundamentales sobre la nube de Amazon Web Services, incluyendo 
                    el uso de servicios esenciales para desplegar y gestionar aplicaciones en un entorno escalable y seguro.</p>
            </div>

              <div class="formacion">
                <span class="icono"><i class="fa-brands fa-java"></i></span>
                <h4>Spring Boot 3 y Servicios Web Java - Campus MVP</h4>
                <hr>
                <ul class="formacion">
                    <li>JAVA</li>
                    <li>SPRINGBOOT</li>
                    <li>JPA/HIBERNATE</li>
                </ul>
                <p>Aprendí a desarrollar aplicaciones y servicios web con Spring Boot 3, incluyendo la creación de APIs REST, 
                    la integración con bases de datos y la implementación de buenas prácticas de seguridad y escalabilidad</p>
            </div>
        </div>
    </section>
