 <!-- ENCABEZADO -->
    <header  class="encabezado">
        <div class="contenido-header">
            <div class="logo">
                <img src="./img/logoNico.png" alt="Nico portafolio">
            </div>
            <nav id="nav" class="">
                <ul id="links">
                    <li><a href="index.html" class="seleccionado">INICIO</a></li>
                    <li><a href="#sobreMi">SOBRE MI</a></li>
                    <li><a href="#formacion">FORMACIÓN</a></li>
                    <li><a href="#proyecto">PROYECTOS</a></li>
                    <li><a href="#contacto">CONTACTO</a></li>
                </ul>
            </nav>

            <!-- Iconos del menu responsive -->
            <div id="icono-nav">
                <i class="fa-solid fa-bars"></i>
            </div>

            <!-- Redes Sociales -->
            <div class="redes">
                <a href="https://github.com/noarphelp" target="_blank"><i
                        class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/nicolas-fernandez-2a4b18245/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/nicordes/" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>

            </div>
        </div>
    </header>
