 <section id="proyecto">
        <h3 class="titulo-seccion">Mis Proyectos</h3>
        <div class="fila">

             <div class="proyecto">
                <div class="overlay"></div>
                <a href="https://github.com/noarphelp/AgenciaViajes" target="_blank" rel="noopener">
                <img  src="/img/agenciaViajes.png" alt="Agencia de Viajes">
                </a>
                <div class="info">
                    <h4 >Ecosistema de microservicios distribuido y escalable con Spring Cloud</h4>
                    
                </div>
            </div>


            <div class="proyecto">
                <div class="overlay"></div>
                <a href="https://github.com/noarphelp/ContabilidadProductos" target="_blank" rel="noopener">
                <img src="/img/image.png" alt="Api de contabilidad de productos">
                </a>
                <div class="info">
                    <h4> Ecosistema de microservicios distribuido y escalable con Spring Cloud (Eureka, Config Server, API Gateway) y Apache Kafka, 
                        logrando comunicación asíncrona y notificaciones automáticas por correo en tiempo real.</h4>
                    <p>Backend</p>
                </div>
            </div>
           
            <div class="proyecto">
                <div class="overlay"></div>
                <a href="https://github.com/noarphelp/TocaTurno" target="_blank" rel="noopener">
                <img src="/img/tocaturno.png" alt=" una aplicación diseñada para optimizar la asignación y gestión de turnos ">
                </a>
                <div class="info">
                    <h4> una aplicación diseñada para optimizar la asignación y gestión de turnos dentro de una institución pública. Permite a los usuarios registrarse, consultar la disponibilidad de turnos,
                         administrar sus citas y verificar el estado de cada turno en tiempo real. Con una arquitectura basada en Java EE y JPA, la aplicación ofrece un entorno robusto y seguro para la administración eficiente de turnos. </h4>
                    
                </div>
            </div>
        </div>
        <div class="fila">
            <div class="proyecto">
                <div class="overlay"></div>
                <a href="https://github.com/noarphelp/SmartMarket" target="_blank" rel="noopener">
                <img src="/img/smartMarket.png" alt="SmartMarket es una aplicación backend en Spring Boot para la gestión de ventas de un SUPERMERCADO.">
                </a>
                <div class="info">
                    <h4>SmartMarket es una aplicación backend en Spring Boot para la gestión de ventas de un SUPERMERCADO.
Incluye entidades, servicios, controladores, excepciones, y pruebas unitarias e integración para asegurar la calidad.</h4>
                    
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <a href="https://github.com/noarphelp/MicroCloud" target="_blank" rel="noopener">
                <img src="/img/micro.png" alt="MicroCloud">
                </a>
                <div class="info">
                    <h4>Este proyecto es un sistema de microservicios en la nube que gestiona información de cursos y usuarios, 
                        implementando arquitectura basada en servicios REST, registro en Eureka y configuración centralizada.</h4>
                    
                </div>
            </div>
           
        </div>
    </section>
